name: Code Analysis

on:
  push:
    branches: [develop, "feature/**"]
  pull_request:
    branches: [main, develop]
  workflow_dispatch:

jobs:
  code-analysis:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: "sapmachine"
          java-version-file: "core-customize/.java-version"
          cache: "gradle"
      - name: Validate Gradle wrapper
        uses: gradle/actions/wrapper-validation@v3
      - name: Verify code conventions
        run: ./gradlew spotlessCheck
