name: Code Analysis

on:
  push:
    branches: [develop, "feature/**"]
  pull_request:
    branches: [main, develop]
  workflow_dispatch:

jobs:
  code-analysis:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: "sapmachine"
          java-version: "21"
          cache: "gradle"
      - name: Validate Gradle wrapper
        uses: gradle/actions/wrapper-validation@v5
      - name: Verify code conventions
        run: ./gradlew spotlessCheck
