name: Dependency Check

on:
  push:
    branches: [develop]
    paths:
      - "core-customize/manifest.json"
      - "core-customize/hybris/bin/custom/cxdevtools/**/*.java"
      - "core-customize/hybris/bin/custom/cxdevtools/**/*-beans.xml"
      - "core-customize/hybris/bin/custom/cxdevtools/**/*-items.xml"
      - "core-customize/hybris/bin/custom/cxdevtools/**/extensioninfo.xml"
      - "core-customize/hybris/bin/custom/cxdevtools/**/external-dependencies.xml"
  pull_request:
    branches: [main, develop]
  workflow_dispatch:

jobs:
  dependency-check:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        extension: ["cxdevtoolkit", "cxdevbackoffice", "cxdevreporting", "cxdevenvconfig"]
    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: "sapmachine"
          java-version: "21"
          cache: "gradle"
      - name: Validate Gradle wrapper
        uses: gradle/actions/wrapper-validation@v5
      - name: Set up cache for SAP artifacts
        uses: actions/cache@v5
        with:
          key: sap-artifacts-cache-${{ hashFiles('core-customize/manifest.json') }}
          path: dependencies
      - name: SAP download config
        env:
          CXDEV_ARTEFACT_BASEURL: ${{ secrets.CXDEV_ARTEFACT_BASEURL }}
          CXDEV_ARTEFACT_USER: ${{ secrets.CXDEV_ARTEFACT_USER }}
          CXDEV_ARTEFACT_PASSWORD: ${{ secrets.CXDEV_ARTEFACT_PASSWORD }}
        shell: bash
        run: |
          mkdir -p ${HOME}/.gradle
          echo "GRADLE_USER_HOME=${HOME}/.gradle" >> $GITHUB_ENV
          echo "CXDEV_ARTEFACT_BASEURL=${CXDEV_ARTEFACT_BASEURL}" >> ${HOME}/.gradle/gradle.properties
          echo "CXDEV_ARTEFACT_USER=${CXDEV_ARTEFACT_USER}" >> ${HOME}/.gradle/gradle.properties
          echo "CXDEV_ARTEFACT_PASSWORD=${CXDEV_ARTEFACT_PASSWORD}" >> ${HOME}/.gradle/gradle.properties
      - name: SAP Commerce environment
        run: |
          echo "HYBRIS_OPT_CONFIG_DIR=$GITHUB_WORKSPACE/core-customize/hybris/config/local-config" >> $GITHUB_ENV
          echo "HYBRIS_BIN_DIR=$GITHUB_WORKSPACE/core-customize/hybris/bin" >> $GITHUB_ENV
          echo "HYBRIS_CONF_DIR=$GITHUB_WORKSPACE/core-customize/hybris/config" >> $GITHUB_ENV
          echo "HYBRIS_LOG_DIR=$GITHUB_WORKSPACE/core-customize/hybris/log" >> $GITHUB_ENV
      - name: Configure extension
        run: |
          cp -f ci/config/localextensions-template.xml $HYBRIS_CONF_DIR/localextensions.xml
          sed -i 's/EXTENSIONNAME/${{ matrix.extension }}/' $HYBRIS_CONF_DIR/localextensions.xml
      - name: Bootstrap platform
        run: ./gradlew setupLocalDevelopment
      - name: Build platform
        run: ./gradlew yall
